In [44]:
import numpy as np
import pandas as pd
import os
from datetime import datetime
% matplotlib inline

In [51]:
dirname = '../Data/wowah/output/' 
filename = 'wowah_chars_stayed.csv'
df = pd.read_csv(os.path.join(dirname, filename))

df.drop(['Unnamed: 0', 'sample_idx'], axis=1, inplace=True)

df.head()

,char,level,race,charclass,zone,guild,datetime
0,61,60,Orc,Warrior,Blackrock Spire,4,2006-01-01 00:00:29
1,87,21,Tauren,Shaman,The Barrens,18,2006-01-01 00:00:44
2,182,1,Troll,Hunter,Durotar,-1,2006-01-01 00:01:37
3,247,60,Troll,Mage,Blackrock Mountain,4,2006-01-01 00:02:25
4,321,44,Undead,Mage,Swamp of Sorrows,3,2006-01-01 00:02:59

In [68]:
df['datetime'] = pd.to_datetime(df.datetime)
df.datetime[:3].date()

AttributeError: 'Series' object has no attribute 'date'

## Level

### highest level

In [47]:
highest_level_per_char = df.groupby('char')['level'].max()

### number of days between levels

In [58]:
column_levels = [str(i+1) for i in range(70)]
level_days = pd.DataFrame(columns=column_levels)

for char in df.char.unique():
    df_char = df[df.char==char]

KeyboardInterrupt:

In [71]:
df_char = df[df.char==61]
df_char['date'] = [tt.date() for tt in df_char.datetime]
df_char.groupby('level').date

/Users/apalumbo/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [72]:
df_char.tail()

,char,level,race,charclass,zone,guild,datetime,date
412877,61,60,Orc,Warrior,Orgrimmar,65,2006-03-19 12:33:26,2006-03-19
412958,61,60,Orc,Warrior,Orgrimmar,65,2006-03-19 12:43:25,2006-03-19
1768989,61,1,Orc,Hunter,Durotar,-1,2006-08-13 11:39:50,2006-08-13
1769061,61,2,Orc,Hunter,Durotar,-1,2006-08-13 11:49:49,2006-08-13
1769135,61,2,Orc,Hunter,Durotar,-1,2006-08-13 11:59:48,2006-08-13